@{
    ViewBag.Title = "SingleSiteFeedback";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}

<script type="text/javascript">
    if(@ViewBag.Count == 0)
    {
        alert("亲!您还没有任何反馈哦！");
        window.location.href="Home";
    }
</script>



<table class="table">
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
    </tr>

    @foreach (var item in ViewBag.SiteFeedbackList)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "SingleEdit", new { id = item.Id }) &nbsp;
                @Html.ActionLink("Delete", "SingleDelete", new { id = item.Id})
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Content
            </td>
        </tr>
    }
</table>

<br />
<br />