@model PagedList.IPagedList<Portal.Models.Commodity>
@using PagedList.Mvc;
@using Portal.Authentication;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutForHome.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    });

    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });

</script>

<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="menu">
                            @foreach (var p in ViewBag.CategoryList)
                            {
                                <li>
                                    <a style="cursor:pointer;"> <img src="~/images/f_menu.png" alt="" />@p.ParentCategory</a>
                                    <ul>
                                        @foreach (var t in p.SubCategory)
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { subCategory = t })">@t</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="twitter">
                    <h3>联系方式</h3>
                    <ul class="twt1">联系人<li><input type="text" readonly value="Xu xiaoqin" style="border:none;" /></li></ul>
                    <ul class="twt1">电话<li><input type="text" readonly style="border:none;" value="18652936326" /></li></ul>
                    <ul class="twt1">邮箱<li><input type="text" readonly style="border:none;" value="xxq260310x@163.com" /></li></ul>
                </div>
                <div class="clients">
                    <h3>友情提示</h3>
                    <h4>本网站是二手商品交易网，请有需要同志大力购买，保证低价，正品，物流快。</h4>
                </div>
            </div>
            <div class="col-md-9 content_right">
                <div class="top_grid2">
                    <ul class="grid_2-bottom">
                        <li class="grid_2-left">
                            @Html.ActionLink("上架时间", "Index", new { sortOrder = ViewBag.CreationDate, currentFilter = ViewBag.CurrentFilter })
                        </li>
                        <li>
                            @Html.ActionLink("销量", "Index", new { sortOrder = ViewBag.SellCount, currentFilter = ViewBag.CurrentFilter })
                        </li>
                    </ul>

                </div>
                <div class="top_grid2">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 top_grid1-box1">
                            <a href="@Url.Action("SingleCommodity", "SingleCommodity", new { id = item.CommodityId })">
                                <div class="grid_1">
                                    <div class="b-link-stroke b-animate-go  thickbox">
                                        <img src="@Url.Action("GetImageByCommodityId", "Home", new { id = item.CommodityId })" class="img-responsive" />
                                    </div>
                                    <div class="grid_2">
                                        <p>@item.Description</p>
                                        <ul class="grid_2-bottom">
                                            <li class="grid_2-left"><p>￥@item.UnitPrice</p></li>
                                            <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self">@Html.ActionLink("Buy", "SingleCommodity", "SingleCommodity", new { id = item.CommodityId }, null)</div></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="text-align:center;">
                @Html.PagedListPager(Model, page => Url.Action("Index",
                                   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>
<div class="footer_bg"></div>
