@model Portal.Models.CommodityInFavorite
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {
        $("#searchTextBox").click(function () {
            var searchstring = $("#searchString").val();
            window.location.href = "../Home/Index?searchString=" + searchstring;
        });
    });

    $(function () {
        var dialog;
        dialog = $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 250,
            width: 400,
            modal: true,
            buttons: {
                "Delete all items": deleteconfirmed,
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#delete").click(function () {
            dialog.dialog("open");
        });

        function deleteconfirmed() {
            var commodityId = $("#delete").next().val();
            $.ajax({
                url: '@Url.Action("SingleDelete", "Favorites")',
                data: { id: commodityId },
                type: "POST",
                success: function (req) {
                    if (req == 1) {
                        dialog.dialog("close");
                        location.reload();
                    }
                    else {
                        alert("删除失败啦！");
                    }
                }
            });
        }
    });

    $(function () {
        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    });
</script>

<div id="dialog-confirm" title="Are you sure delete?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="menu">
                            @foreach (var p in ViewBag.CategoryList)
                            {
                                <li>
                                    <a style="cursor:pointer;"> <img src="~/images/f_menu.png" alt="" />@p.ParentCategory</a>
                                    <ul>
                                        @foreach (var t in p.SubCategory)
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { subCategory = t })">@t</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="twitter">
                    <h3>联系方式</h3>
                    <ul class="twt1">联系人<li><input type="text" readonly value="Xu xiaoqin" style="border:none;" /></li></ul>
                    <ul class="twt1">电话<li><input type="text" readonly style="border:none;" value="18652936326" /></li></ul>
                    <ul class="twt1">邮箱<li><input type="text" readonly style="border:none;" value="xxq260310x@163.com" /></li></ul>
                </div>
                <div class="clients">
                    <h3>友情提示</h3>
                    <h4>本网站是二手商品交易网，请有需要同志大力购买，保证低价，正品，物流快。</h4>
                </div>
            </div>

            <div class="col-md-9 content_right">
                <div class="top_grid2">
                    <span>亲，您收藏了如下商品:</span>
                </div>
                <div class="top_grid2">
                    @foreach (var item in ViewBag.CommoditiesInFavorite)
                        {
                        <div class="col-md-4 top_grid1-box1">
                            <a href="@Url.Action("SingleCommodity", "Commodities", new { id = item.CommodityId })" title="Get It">
                                <div class="grid_1">
                                    <div class="b-link-stroke b-animate-go  thickbox">
                                        <img src="@Url.Action("GetImageByCommodityId", "Home", new { id = item.CommodityId })" class="img-responsive" />
                                    </div>
                                    <div class="grid_2">
                                        <p>@item.Description</p>
                                        <ul class="grid_2-bottom">
                                            <li class="grid_2-left"><p>￥@item.UnitPrice</p></li>
                                            <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self"><a id="delete">Delete</a><input type="hidden" name="CommodityId" id="CommodityId" value="@item.CommodityId" /></div></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }
                    <div class="clearfix"></div>
                </div>
            </div>
            <div style="text-align:center;">
            </div>
        </div>
    </div>
</div>

