@{
    ViewBag.Title = "我的购物车";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {
        if ($("table > tbody > tr").length == 2)
        {
            $("table").find("tr").eq(1).hide();
        }
    });

    $(function () {
        var dialog;
        dialog = $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 250,
            width: 400,
            modal: true,
            buttons: {
                "Delete all items": deleteconfirmed,
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#delete").click(function () {
            dialog.dialog("open");
        });

        function deleteconfirmed() {
            var commodityId = $("#delete").next().val();
            $.ajax({
                url: '@Url.Action("SingleDelete", "ShoppingTrolleys")',
                data: { id: commodityId },
                type: "POST",
                success: function (req) {
                    if (req == 1) {
                        dialog.dialog("close");
                        location.reload();
                    }
                    else {
                        alert("删除失败啦！");
                    }
                }
            });
        }
    });

    $(function () {
        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    });

    $(function () {
        var length = $("table").find("tr").length - 1;
        var checked = $("input[type='checkbox'][name='singlecommodity']");
        $(checked).click(function () {
            if ($(this).prop("checked") == true) {
                var price = $(this).parent().parent().children().eq(4).children().val();
                var checkedPrice = {
                    LastPrice: $("#TotalCost")[0].value,
                    CurrentPrice: price
                };

                $.ajax({
                    url: '@Url.Action("GetCheckedTotalCost", "ShoppingTrolleys")',
                    type: "POST",
                    data: checkedPrice,
                    dataType: "json",
                    success: function (req) {
                        $("#TotalCost")[0].value = req;
                        $(checked).parent().parent().parent().children().eq(length).children().eq(4).children().eq(1).children().eq(0).html("￥" + req + ".00");
                    }
                });
            }
            else {
                var price = $(this).parent().parent().children().eq(4).children().val();
                var notCheckedPrice = {
                    LastPrice: $("#TotalCost")[0].value,
                    CurrentPrice: price
                };

                $.ajax({
                    url: '@Url.Action("GetNotCheckedTotalCost", "ShoppingTrolleys")',
                    type: "POST",
                    data: notCheckedPrice,
                    dataType: "json",
                    success: function (req) {
                        $("#TotalCost")[0].value = req;
                        $(checked).parent().parent().parent().children().eq(length).children().eq(4).children().eq(1).children().eq(0).html("￥" + req + ".00");
                    }
                });
            }
        });
    })

    $(function () {
        $("#AllChecked").click(function () {
            var checked = $("input[type='checkbox'][name='singlecommodity']");
            $(checked).each(function () {
                $(this).prop("checked", !($(this).prop("checked")));
            })
        });
    });

    $(function () {
        var length = $("table").find("tr").length - 1;
        var checked = $("input[type='checkbox'][name='AllChecked']");
        $(checked).click(function () {
            if ($(this).prop("checked") == true) {
                $.getJSON("/ShoppingTrolleys/GetAllShoppingTrolleysCost", { id: 1 }, function (data) {
                    $("#TotalCost")[0].value = data;
                    $(checked).parent().parent().parent().children().eq(length).children().eq(4).children().eq(1).children().eq(0).html("￥" + data + ".00");
                })
            }
            else {
                $("#TotalCost")[0].value = 0;
                $(checked).parent().parent().parent().children().eq(length).children().eq(4).children().eq(1).children().eq(0).html("￥0.00");
            }
        })
    });

    $(function () {
        $("#commodityTable").on("click", ".favorite", function () {
            $.getJSON("/Favorites/AddCommodityInFavorite", { id: $("#favorite").next().val() }, function (data) {
                if (data == 0) {
                    alert("您已经收藏过此商品啦！");
                }
                else {
                    alert("收藏成功!");
                }
            });
        });
    });

    $(function () {
        $("#checkout").click(function () {
            if ($("#TotalCost")[0].value == "" || $("#TotalCost")[0].value == 0) {
                alert("请至少选择一件商品！");
                return false;
            }

            var checked = $("input[type='checkbox'][name='singlecommodity']");
            $(checked).each(function () {
                if ($(this).prop("checked") == true) {
                    $("#OrderCommodityId")[0].value += $(this).parent().parent().children().eq(5).children().eq(4).val() + ",";
                }
                else {
                    $("#NotCheckedCommodityId")[0].value += $(this).parent().parent().children().eq(5).children().eq(4).val() + ",";
                }
            })

            $.getJSON("/ShoppingTrolleys/GetPostageByTotalCost", { cost: $("#TotalCost")[0].value }, function (result) {
                $("#Postage")[0].value = (result == 0.00 ? "0.00" : "15.00");
                $.ajax({
                    url: '@Url.Action("Home", "ShoppingTrolleys")',
                    type: "POST",
                    data: {
                        Cost: $("#TotalCost")[0].value,
                        CommodityIdList: $("#OrderCommodityId")[0].value,
                        NotCheckedCommodityIdList: $("#NotCheckedCommodityId")[0].value,
                        Postage: $("#Postage")[0].value
                    }
                });
            });
            
            
        });
    });
</script>

<input type="hidden" name="Postage" id="Postage"/>
<input type="hidden" name="TotalCost" id="TotalCost" />
<input type="hidden" name="OrderCommodityId" id="OrderCommodityId" />
<input type="hidden" name="NotCheckedCommodityId" id="NotCheckedCommodityId" />

<div id="dialog-confirm" title="Are you sure delete?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="menu">
                            @foreach (var p in ViewBag.CategoryList)
                            {
                                <li>
                                    <a style="cursor:pointer;"> <img src="~/images/f_menu.png" alt="" />@p.ParentCategory</a>
                                    <ul>
                                        @foreach (var t in p.SubCategory)
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { subCategory = t })">@t</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="twitter">
                    <h3>联系方式</h3>
                    <ul class="twt1">联系人<li><input type="text" readonly value="Xu xiaoqin" style="border:none;" /></li></ul>
                    <ul class="twt1">电话<li><input type="text" readonly style="border:none;" value="18652936326" /></li></ul>
                    <ul class="twt1">邮箱<li><input type="text" readonly style="border:none;" value="xxq260310x@163.com" /></li></ul>
                </div>
                <div class="clients">
                    <h3>友情提示</h3>
                    <h4>本网站是二手商品交易网，请有需要同志大力购买，保证低价，正品，物流快。</h4>
                </div>
            </div>
            <div class="col-md-9 content_right">
                <div class="top_grid2">
                    <span>亲，您的购物车信息如下:</span>
                </div>
                <div class="top_grid2">
                    <table class="table" id="commodityTable">
                        <tr>
                            <th>
                                <input type="checkbox" id="AllChecked" name="AllChecked" />
                            </th>
                            <th>
                                商品信息:
                            </th>
                            <th>
                                数量:
                            </th>
                            <th>
                                单价:
                            </th>
                            <th>
                                小计:
                            </th>
                            <th>
                                操作:
                            </th>
                        </tr>
                        @foreach (var p in ViewBag.CommodityInShoppingTrolleys)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name='singlecommodity' />
                                </td>
                                <td width="300px;">
                                    <img width="50" height="50" src="@Url.Action("GetImageByCommodityId", "Commodities", new { id = p.CommodityId})" />
                                    <a href="@Url.Action("SingleCommodity", "SingleCommodity", new { id = p.CommodityId})"> @p.Degree @p.CommodityName @p.Size @p.Color @p.Capacity</a>
                                </td>
                                <td>
                                    @p.Quantity
                                </td>
                                <td>
                                    @p.UnitPrice
                                </td>
                                <td>
                                    @p.Price <input type="hidden" value="@p.Price" />
                                </td>
                                <td>
                                    <a id="delete" class="delete" style="cursor:pointer;">删除</a> <input type="hidden" value="@p.CommodityId" /><br />
                                    <a id="favorite" style="cursor:pointer;" class="favorite" name="favorite">加入收藏夹</a> <input type="hidden" id="CommodityId" name="CommodityId" value="@p.CommodityId" />
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span>总价（不含运费）：</span> <span><em style="color:red;">￥0.00</em></span>
                            </td>
                            <td>
                                <a id="checkout" style="cursor:pointer;">去结算</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_bg"></div>

