@{
    ViewBag.Title = "SingleRequiredCommodity";
    Layout = "~/Views/Shared/LayoutForAbout.cshtml";
}

<script type="text/javascript">
    if(@ViewBag.Count == 0)
    {
        alert("空空如也！");
        window.location.href="Home";
    }
</script>

<br />

<h2>您所需求的信息如下，请确认是否需要修改？</h2>
<table class="table-layout-auto">
    <tr>
        <th></th>
        <th>
            CommodityName
        </th>
        <th>
            Price
        </th>
        <th>
            Content
        </th>
    </tr>

    @foreach (var item in ViewBag.RequiredCommodityList)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "SingleEdit", new {id = item.Id}) &nbsp;
                @Html.ActionLink("Delete", "SingleDelete", new {id = item.Id})
            </td>
            <td>
                @item.CommodityName
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Content
            </td>
        </tr>
    }
</table>
<br />
<br />
<div>
    <a href="@Url.Action("Index" ,"Home" )"> Cancel</a>
</div>
