@{
    ViewBag.Title = "订单结算";
    Layout = "~/Views/Shared/LayoutForOrder.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/select2.css" rel="stylesheet" />
<script src="~/Scripts/location.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2_locale_zh-CN.js"></script>
<script src="~/Scripts/area.js"></script>

<style>
    label, input {
        display: block;
    }

        input.text {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
        }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    .ui-dialog .ui-state-error {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#search").click(function () {
            var sreachstring = $("#searchString").val();
            $.ajax({
                url: '@Url.Action("Index", "Home")',
                type: "Get",
                data: {sreachstring: searchstring}
            });
        });
    });


    $(function () {
        var dialog, form,
          name = $("#name"),
          email = $("#email"),
          contact = $("#contact"),
          address = $("#address"),
         allFields = $([]).add(name).add(email).add(contact).add(address),
         tips = $(".validateTips");

        function updateTips(t) {
            tips
             .text(t)
             .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("Length of " + n + " must be between " +
                  min + " and " + max + ".");
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp(o, regexp, n) {
            if (!(regexp.test(o.val()))) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        function addAddress() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(name, "ConsigneeName", 3, 16);
            valid = valid && checkLength(contact, "Contact", 11, 11);
            valid = valid && checkLength(email, "Email", 6, 80);

            valid = valid && checkRegexp(email,
               /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+ [a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/, "eg.ui@jquery.com");
            valid = valid && checkRegexp(name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");
            valid = valid && checkRegexp(contact, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9");

            if (valid) {
                $("#users tbody").append("<tr>" +
                  "<td>" + name.val() + "</td>" +
                  "<td>" + email.val() + "</td>" +
                 "<td>" + password.val() + "</td>" +
                 "</tr>");
                dialog.dialog("close");
            }
            return valid;
        }

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Create an address": addAddress,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                allFields.removeClass("ui-state-error");
            }
        });

        form = dialog.find("form").on("submit", function (event) {
            event.preventDefault();
            addAddress();
        });

        $("#create-address").button().on("click", function () {
            dialog.dialog("open");
        });
    });

    $(function () {
        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    });
</script>

<div class="header">
    <div class="header_top">
        <div class="container" style=" margin-right:auto; margin-left: auto;padding-left:0px;padding-right:0px;height:60px;">
            <ul class="shopping_grid">
                @if (!User.Identity.IsAuthenticated)
                {
                <li>@Html.ActionLink("Sign In", "Index", "Login")</li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                <li><a href="@Url.Action("Home", "Favorites")">收藏夹</a></li>
                <li><a href="@Url.Action("SingleOrder","Orders")">订单</a></li>
                    if (ViewBag.ShoppingTrolleysCount > 0)
                    {
                <a href="@Url.Action("Home","ShoppingTrolleys")">
                    <li>
                        <span class="m_1">购物车</span>(@ViewBag.ShoppingTrolleysCount)
                        <img src="~/images/bag.png" alt="" />
                    </li>
                </a>
                    }
                    else
                    {
                <a href="@Url.Action("Home","ShoppingTrolleys")"><li><span class="m_1">购物车</span>(0) <img src="~/images/bag.png" alt="" /></li></a>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="h_menu4">
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li>@Html.ActionLink("Home", "Index", "Home") </li>
                <li>@Html.ActionLink("About", "Index", "About") </li>
                <li>@Html.ActionLink("SiteFeedback", "Home", "SiteFeedbacks")</li>
                <li>@Html.ActionLink("Announcement", "Home", "AnnouncementsHome") </li>
                <li>@Html.ActionLink("Wish List", "Home", "RequiredCommodities")</li>
            </ul>
        </div>
    </div>
</div>

<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">搜索商品</div>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { onfocus = "this.value = '';", onblur = "if (this.value == '') {this.value = '';}" })
            <input type="submit" value="" style="position:absolute;left:342px;top:0px;"/>
        </div>
    </div>
</div>

<div id="dialog-form" title="Create new address">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <label for="name">收货人:</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
            <label for="region">所在地区:</label>
            <select id="loc_province" style="width:120px;"></select>
            <select id="loc_city" style="width:120px; margin-left: 10px"></select>
            <select id="loc_town" style="width:120px;margin-left: 10px"></select>
            <label for="address">详细地址:</label>
            <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all" />
            <label for="email">邮箱:</label>
            <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
            <label for="contact">手机号码:</label>
            <input type="text" name="contact" id="contact" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="menu">
                            @foreach (var p in ViewBag.CategoryList)
                            {
                                <li>
                                    <a style="cursor:pointer;"> <img src="~/images/f_menu.png" alt="" />@p.ParentCategory</a>
                                    <ul>
                                        @foreach (var t in p.SubCategory)
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { subCategory = t })">@t</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="twitter">
                    <h3>联系方式</h3>
                    <ul class="twt1">联系人<li><input type="text" readonly value="Xu xiaoqin" style="border:none;" /></li></ul>
                    <ul class="twt1">电话<li><input type="text" readonly style="border:none;" value="18652936326" /></li></ul>
                    <ul class="twt1">邮箱<li><input type="text" readonly style="border:none;" value="xxq260310x@163.com" /></li></ul>
                </div>
                <div class="clients">
                    <h3>友情提示</h3>
                    <h4>本网站是二手商品交易网，请有需要同志大力购买，保证低价，正品，物流快。</h4>
                </div>
            </div>


            <div class="col-md-9 content_right">
                <div class="container">
                    <h2 style="font-weight:bold;">填写并核对订单信息:</h2>
                    <div class="top_grid2">
                        <h3>收货人信息：</h3>
                        <div>
                            @foreach (var p in ViewBag.ConsigneeInfoList)
                            {
                                <input type="checkbox" id="consigneeAddress" name="consigneeAddress" style="float:left;"/> @p.AddressDetail <br />
                            }
                        </div>
                        <div class="navbar-right">
                            <button id="create-address" style="" class="btn-primary">新增收货地址</button>
                        </div>
                    </div>
                    <div class="top_grid2">
                        <h3>支付方式：</h3>
                        <input type="checkbox" style="float:left;"/> 货到付款 <br />
                    </div>
                    <div class="top_grid2">
                        <h3>送货清单：</h3>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4 right">
                            <table class="table" id="commodityTable">
                                <h3>商品详情：</h3>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_bg"></div>
