@model Portal.Models.Order

@{
    ViewBag.Title = "订单结算";
    Layout = "~/Views/Shared/LayoutForOrder.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/select2.css" rel="stylesheet" />
<script src="~/Scripts/location.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2_locale_zh-CN.js"></script>
<script src="~/Scripts/area.js"></script>

<style>
    label, input {
        display: block;
    }

        input.text {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
        }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    .ui-dialog .ui-state-error {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }

    .list {
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        margin-bottom: 5px;
        zoom: 1;
    }

    .price {
        color: #333;
        float: left;
        width: 100px;
        text-align: right;
        font-family: verdana;
    }

    .checkout-buttons .checkout-submit {
        float: right;
        position: relative;
        width: 135px;
        height: 36px;
        line-height: 36px;
        margin: 8px 10px 0 0;
        padding: 0;
        background-color: #e00;
        overflow: hidden;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
    }

    .btn-1 {
        font-family: arial,"microsoft yahei";
        display: inline-block;
        height: 25px;
        line-height: 25px;
        background-color: #e74649;
        background-image: -moz-linear-gradient(top,#e74649,#df3134);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e74649),color-stop(1,#df3134));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134', GradientType='0');
        background-image: linear-gradient(to top,#e74649 0,#df3134 100%);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        padding: 0 15px;
        cursor: pointer;
        border: 0;
        float: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        var index = 1;
        var a = $("#Consignee").find("option");
        a.first().attr("title", index);
        var next = a.next();
        for (var i = 0; i < a.length - 1; i++)
        {
            index++;
            next = next.first();
            next.attr("title", index);
            next = next.next();
        }
    });

    $(function () {
        $("#search").click(function () {
            var sreachstring = $("#searchString").val();
            $.ajax({
                url: '@Url.Action("Index", "Home")',
                type: "Get",
                data: { sreachstring: searchstring }
            });
        });
    });

    $(function () {
        var generaldelivery = $("input[type='checkbox'][name='generaldelivery']");
        var selfdelivery = $("input[type='checkbox'][name='self']");
        $(generaldelivery).click(function () {
            if ($(generaldelivery).prop("checked") == true) {
                $(generaldelivery).parent().nextAll().eq(1).children().eq(0).attr('disabled', true);
            }
            else {
                $(generaldelivery).parent().nextAll().eq(1).children().eq(0).attr('disabled', false);
            }
        });

        $(selfdelivery).click(function () {
            if ($(selfdelivery).prop("checked") == true) {
                $(selfdelivery).parent().parent().children().eq(0).find("input").attr('disabled', true);
            }
            else {
                $(selfdelivery).parent().parent().children().eq(0).find("input").attr('disabled', false);
            }
        });
    });

    $(function () {
        $("#order-submit").click(function () {
            var consignee = $("#Consignee").find("option[value='" + $("#Consignee").val() + "']").text();
            if (consignee == "" || consignee == null) {
                alert("请填写收货地址！");
                return false;
            }

            var cash = $("input[type='checkbox'][name='cash']");
            if ($(cash).prop("checked") == false) {
                alert("请选择支付方式！");
                return false;
            }
            else {
                $("#pay")[0].value = $(cash).next().html();
            }

            var generaldelivery = $("input[type='checkbox'][name='generaldelivery']");
            var selfdelivery = $("input[type='checkbox'][name='self']");
            if ($(generaldelivery).prop("checked") == false && $(selfdelivery).prop("checked") == false) {
                alert("请选择配送方式！");
                return false;
            }

            var secondDelivery;
            if ($(generaldelivery).prop("checked") == true) {
                $("#secondDelivery")[0].value = $(generaldelivery).next().html();
                secondDelivery = $("#secondDelivery")[0].value;
            }


            if ($(selfdelivery).prop("checked") == true) {
                $("#selfDelivery")[0].value = $(selfdelivery).next().html();
                secondDelivery = $("#selfDelivery")[0].value;
            }

            $("#addressDetail")[0].value = $("#Consignee").val();

            var info = { Address: $("#addressDetail")[0].value, Delivery: secondDelivery, Payfor: $("#pay")[0].value, OrderId: @Model.OrderId };
            $.ajax({
                url: '@Url.Action("Home", "Orders")',
                type: "POST",
                data: info,
                success: function(result){
                    if(result != null)
                    {
                        window.location.href = "../Orders/SingleOrder";
                    }
                }
            })
        })
    });

    
    function updateTips(t) {
        var tips = $(".validateTips");
        tips
         .text(t)
         .addClass("ui-state-highlight");
        setTimeout(function () {
            tips.removeClass("ui-state-highlight", 1500);
        }, 500);
    }

    function checkLength(o, n, min, max) {
        if (o.val().length > max || o.val().length < min) {
            o.addClass("ui-state-error");
            updateTips("Length of " + n + " must be between " +
              min + " and " + max + ".");
            return false;
        } else {
            return true;
        }
    }

    function checkRegexp(o, regexp, n) {
        if (!(regexp.test(o.val()))) {
            o.addClass("ui-state-error");
            updateTips(n);
            return false;
        } else {
            return true;
        }
    }

    $(function () {
        var dialog, form,
          div = $("#dialog-form"),
          name = $("#name"),
          email = $("#email"),
          contact = $("#contact"),
          province = $("#s2id_loc_province").children().children().eq(0),
          city = $("#s2id_loc_city").children().children().eq(0),
          town = $("#s2id_loc_town").children().children().eq(0),
          address = $("#address"),
          allFields = $([]).add(name).add(email).add(contact).add(address).add(province).add(city).add(town);

        dialog = div.dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Create an address": addAddress,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
                allFields.removeClass("ui-state-error");
            }
        });

        function addAddress() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(name, "ConsigneeName", 3, 16);
            valid = valid && checkLength(contact, "Contact", 11, 11);
            valid = valid && checkLength(email, "Email", 6, 80);

            valid = valid && checkRegexp(contact, /^([0-9])+$/, "Contact field only allow : 0-9");

            if (valid) {
                
                dialog.dialog("close");
            }
            return valid;
        }

        form = dialog.find("form").on("submit", function (event) {
            event.preventDefault();
            addAddress();
        });

        $("#create-address").button().on("click", function () {
            dialog.dialog("open");
            Empty(dialog, div);
        });

        function Empty(dialog, div) {
            div.children().eq(1).children().children().eq(1).attr('value', "");
            div.children().eq(1).children().children().eq(3).children().eq(0).children().eq(0).html("省份");
            div.children().eq(1).children().children().eq(5).children().eq(0).children().eq(0).html("地级市");
            div.children().eq(1).children().children().eq(7).children().eq(0).children().eq(0).html("市、县、区");
            div.children().eq(1).children().children().eq(10).attr('value', "");
            div.children().eq(1).children().children().eq(12).attr('value', "");
            div.children().eq(1).children().children().eq(14).attr('value', "");
            div.parent().children().eq(0).children().eq(0).html("Create new address");
            $("div[role='dialog']").children().eq(10).children().children().eq(0).html("Create an address");
        }
    });


    $(function () {
        var modifyDialog, modifyForm,
          modifyDiv = $("#dialog-form"),
          name = $("#name"),
          email = $("#email"),
          contact = $("#contact"),
          province = $("#s2id_loc_province").children().children().eq(0),
          city = $("#s2id_loc_city").children().children().eq(0),
          town = $("#s2id_loc_town").children().children().eq(0),
          address = $("#address"),
          allFields = $([]).add(name).add(email).add(contact).add(address).add(province).add(city).add(town),
          tips = $(".validateTips");

        modifyDialog = modifyDiv.dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Modify an address": modifyAddress,
                Cancel: function () {
                    modifyDialog.dialog("close");
                }
            },
            close: function () {
                modifyForm[0].reset();
                allFields.removeClass("ui-state-error");
            }
        });

        function modifyAddress() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(name, "ConsigneeName", 3, 16);
            valid = valid && checkLength(contact, "Contact", 11, 11);
            valid = valid && checkLength(email, "Email", 6, 80);

            valid = valid && checkRegexp(contact, /^([0-9])+$/, "Contact field only allow : 0-9");

            if ($("#dialog-form").parent().children().eq(0).children().eq(0).html() == "Modify address") {
                if (valid) {
                    var option = $("#Consignee").find("option[title='" + $("#Id")[0].value + "']");
                    option.val("");
                    option.text("");
                    option.text(name.val() + " "+ province.text() + city.text() + town.text() + address.val() + " "+ contact.val() );
                    option.val(name.val() + ',' + province.text() + ',' + city.text() + ',' + town.text() + ',' + address.val() + ',' + contact.val() + ',' + email.val());
                    modifyDialog.dialog("close");
                }
            }
            else {
                if (valid)
                {
                    var length = $("#Consignee").find("option").length + 1;
                    $("#Consignee").append("<option value='" + name.val() + "," + province.text() + "," + city.text() + "," + town.text() + "," + address.val() + "," + contact.val() + "," + email.val() + "' title='"+ length +"'>" + name.val() + " " + province.text() + "" + city.text() + "" + town.text() + "" + address.val() + " " + contact.val() + "</option>");
                    modifyDialog.dialog("close");
                }
            }

            return valid;
        }


        modifyForm = modifyDialog.find("form").on("submit", function (event) {
            event.preventDefault();
            modifyAddress();
        });


        $("#modify-address").button().on("click", function () {
            if($("#Consignee").val() == ",,,,,,")
            {
                alert("请先新增收货地址！");
                return false;
            }
            else
            {
                modifyDialog.dialog("open");
                Parse(modifyDialog, modifyDiv);
            }

        });

        function Parse(modifyDialog, modifyDiv) {
            var value = $("#Consignee").val();
            var option = $("#Consignee").find("option");
            $(option).each(function () {
                if ($(this).val() == value)
                {
                    $("#Id")[0].value = $(this).attr('title');
                }
            })

            $.ajax({
                url: '@Url.Action("ParseAddress", "Orders")',
                dataType: "json",
                type: "POST",
                data: { value: value },
                success: function (eq) {
                    modifyDiv.children().eq(1).children().children().eq(1).attr('value', eq.ConsigneeName);
                    modifyDiv.children().eq(1).children().children().eq(3).children().eq(0).children().eq(0).html(eq.Province);
                    modifyDiv.children().eq(1).children().children().eq(5).children().eq(0).children().eq(0).html(eq.City);
                    modifyDiv.children().eq(1).children().children().eq(7).children().eq(0).children().eq(0).html(eq.Town);
                    modifyDiv.children().eq(1).children().children().eq(10).attr('value', eq.Address);
                    modifyDiv.children().eq(1).children().children().eq(12).attr('value', eq.Email);
                    modifyDiv.children().eq(1).children().children().eq(14).attr('value', eq.Contact);
                    modifyDiv.parent().children().eq(0).children().eq(0).html("Modify address");
                    modifyDiv.children().eq(0).html("All form fields are required.");
                    $("div[role='dialog']").children().eq(10).children().children().eq(0).html("Modify an address");
                }
            });
        }

    });


    $(function () {
        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    });

    $(function () {
        $("#cash").tooltip({
            show: {
                effect: "slideDown",
                delay: 250
            }
        });
        $("#delivery").tooltip({
            show: null,
            position: {
                my: "left top",
                at: "left bottom"
            },
            open: function (event, ui) {
                ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
            }
        });
        $("#selfdelivery").tooltip({
            hide: {
                effect: "explode",
                delay: 250
            }
        });
    });
</script>

@Html.HiddenFor(model => model.OrderId)
<input type="hidden" name="pay" id="pay" />
<input type="hidden" name="secondDelivery" id="secondDelivery" />
<input type="hidden" name="selfDelivery" id="selfDelivery" />
<input type="hidden" name="addressDetail" id="addressDetail" />
<input type="hidden" name="Id" id="Id" />


<div id="dialog-form" title="Create new address" style="display:none;">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <label for="name">收货人:</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
            <label for="region">所在地区:</label>
            <select id="loc_province" style="width:120px;"></select>
            <select id="loc_city" style="width:120px; margin-left: 10px"></select>
            <select id="loc_town" style="width:120px;margin-left: 10px"></select>
            <label for="address">详细地址:</label>
            <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all" />
            <label for="email">邮箱:</label>
            <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
            <label for="contact">手机号码:</label>
            <input type="text" name="contact" id="contact" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="menu">
                            @foreach (var p in ViewBag.CategoryList)
                            {
                                <li>
                                    <a style="cursor:pointer;"> <img src="~/images/f_menu.png" alt="" />@p.ParentCategory</a>
                                    <ul>
                                        @foreach (var t in p.SubCategory)
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { subCategory = t })">@t</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="twitter">
                    <h3>联系方式</h3>
                    <ul class="twt1">联系人<li><input type="text" readonly value="Xu xiaoqin" style="border:none;" /></li></ul>
                    <ul class="twt1">电话<li><input type="text" readonly style="border:none;" value="18652936326" /></li></ul>
                    <ul class="twt1">邮箱<li><input type="text" readonly style="border:none;" value="xxq260310x@163.com" /></li></ul>
                </div>
                <div class="clients">
                    <h3>友情提示</h3>
                    <h4>本网站是二手商品交易网，请有需要同志大力购买，保证低价，正品，物流快。</h4>
                </div>
            </div>


            <div class="col-md-9 content_right">
                <div class="container">
                    <h2 style="font-weight:bold;">填写并核对订单信息:</h2>
                    <div class="top_grid2">
                        <div>
                            <h3>收货人信息：</h3>
                            <div>
                                @Html.DropDownList("Consignee", null, htmlAttributes: new { Style = "width:auto;", @class = "form-control" })
                            </div>
                            <div style="float:right;">
                                <button id="modify-address" class="btn-primary">修改收货地址</button>
                                <button id="create-address" class="btn-primary">新增收货地址</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="top_grid2">
                        <div>
                            <h3>支付方式：</h3>
                            <div class="payfor">
                                <input type="checkbox" style="float:left;" name="cash" /> <span id="cash" title="本网站暂时只支持货到付款，会逐步增加其他支付方式哦！">货到付款</span><br />
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="top_grid2">
                        <div>
                            <h3>送货清单：</h3>
                            <div style="float:right;">
                                <a href="@Url.Action("Home", "ShoppingTrolleys")" style="cursor:pointer;">返回修改购物车</a>
                            </div>
                            <div class="col-md-4">
                                <h4>配送方式</h4>
                                <div style="margin: 10px 0 20px;">
                                    <div>
                                        <div>
                                            <input type="checkbox" name="generaldelivery" id="generaldelivery" /> <span style="position:absolute;top: 25px;left: 35px;" id="delivery" title="二手快递是本商城独自经营的配送方式，满50元包邮哦，保证速度快，服务态度好！">二手快递</span>
                                        </div>
                                        <br />
                                        <div>
                                            <input type="checkbox" name="self" id="self" /> <span style="position:absolute;top:60px;left:35px;" title="如果你不方便快递寄往，请选择上门自提吧，货物为你保存7天哦！" id="selfdelivery">上门自提</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 right">
                                <h3>商品详情：</h3>
                                <table class="table" style="border:none;width:540px;" id="orderCommodityTable">
                                    @foreach (var p in ViewBag.CommodityInOrderList)
                                    {
                                        <tr>
                                            <td>
                                                <img width="50" height="50" src="@Url.Action("GetImageByCommodityId", "Commodities", new { id = p.CommodityId})" />
                                                <a href="@Url.Action("SingleCommodity", "SingleCommodity", new { id = p.CommodityId})"> @p.CommodityName @p.Size @p.Color @p.Capacity @p.Degree </a>
                                            </td>
                                            <td style="padding-top:20px;">
                                                @p.UnitPrice
                                            </td>
                                            <td style="padding-top:20px;">
                                                <span>x<span>@p.Quantity</span></span>
                                            </td>
                                            <td style="padding-top:20px;">
                                                <span>有货</span>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="top_grid2">
                        <div class="list" style="float:right;">
                            <span><em style="color:red;">@ViewBag.CommodityCount </em>件商品，总商品金额 &nbsp;&nbsp;&nbsp;￥@ViewBag.Cost.00</span>
                        </div>
                        <br /><br />
                        <div class="list" style="float:right;">
                            <span style="left:715px;position:absolute;">
                                运费 &nbsp;&nbsp;&nbsp;￥@ViewBag.Shipment.00
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div style="float:right;">
                        <h3>应付总额：<em style="font-size:larger; color:red;">￥@ViewBag.Cost.00</em></h3>
                        <input type="submit" class="checkout-submit btn-1" id="order-submit" style="float: right;" />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="footer_bg"></div>
